{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load socialaccount %}

{% block content %}
   <div class="col-mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form method="post">
            {% csrf_token %}
            {{ form.age_requirement.label_tag }}
            {{ form.age_requirement }}
            <div id="minimum-age-wrapper" style="display: none;">
              {{ form.minimum_age.label_tag }}
              {{ form.minimum_age }}
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
     </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  $(document).ready(function() {
      var minimumAgeWrapper = $('#minimum-age-wrapper');
      var minimumAgeField = $('#id_minimum_age');

      $('#id_age_requirement').on('change', function() {
          if ($(this).val() === 'yes') {
              minimumAgeWrapper.show();
              minimumAgeField.prop('disabled', false);
          } else {
              minimumAgeWrapper.hide();
              minimumAgeField.prop('disabled', true);
          }
      });
  });
  </script>
{% endblock %}