{% extends "base.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% load socialaccount %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block content %}
    <body>
        <style>
            .column-choices {
                column-count: 3;
                column-gap: 20px;
            }
        </style>
        <h1>My Google OAuth Project </h1>
        {% if user.is_authenticated %}
          <p>Welcome, You are logged in as {{ user.username }}</p>
        {% else %}
          <a href="{% provider_login_url 'google' %}">Login With Google</a>
        {% endif %}
        <div class="col-mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% if student_form %}
                        <form method = "POST">
                            {%csrf_token %}
                            {%bootstrap_form student_form %}
                            <button type = "submit" class = "button btn-primary" name = "student-submit">Submit</button>
                        </form>
                    {% elif school_admin_form %}
                        {% if user.userinfo.role == "student" %}
                            <p>Thank you submitting a request for school administrator privileges.
                                Please wait while we process your request.<br><br>To check if your process has been accepted,
                                please click refresh.</p>
                        {% endif %}
                    {% elif registration_form %}
                        <form method = "POST">
                            {%csrf_token %}
                            {%bootstrap_form registration_form %}
                            <button type = "submit" class = "button btn-primary" name = "register-submit">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
{% endblock %}
